## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)

[26, 65, 16, 82, 32, 21, 20, 27, 47, 39, 57, 3, 6, 70, 5, 41, 17, 86, 36, 19, 8, 23, 60, 94, 24, 59, 81, 77, 74, 68, 88, 83, 9, 40, 44, 11, 90, 54, 1, 52, 7, 15, 79, 78, 87, 96, 33, 71, 53, 46, 22, 61, 2, 55, 31, 4, 89, 38, 18, 75, 37, 63, 30, 25, 64, 50, 67, 93, 0, 66, 35, 29, 12, 45, 56, 69, 49, 73, 28, 85]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [6]:
set1 = set(sample_list_1)
print(set1)

print(len(set1))

#The lenght is 80

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 44, 45, 46, 47, 49, 50, 52, 53, 54, 55, 56, 57, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 77, 78, 79, 81, 82, 83, 85, 86, 87, 88, 89, 90, 93, 94, 96}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [9]:
sample_list_2 = []

for i in range(80):
    x = random.randrange(1, 99)
    sample_list_2.append(x)
    
print(sample_list_2)

[11, 61, 58, 58, 15, 7, 22, 63, 95, 45, 69, 46, 97, 63, 98, 77, 11, 71, 12, 83, 88, 65, 11, 62, 73, 4, 86, 93, 7, 92, 54, 24, 23, 27, 79, 21, 51, 96, 21, 40, 53, 40, 20, 43, 82, 55, 32, 10, 34, 4, 21, 33, 62, 41, 66, 68, 95, 84, 79, 73, 86, 85, 74, 31, 7, 79, 31, 78, 88, 91, 58, 80, 64, 67, 1, 26, 95, 82, 85, 94]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [11]:
set2 = set(sample_list_2)
print(set2)

print(len(set2))

{1, 4, 7, 10, 11, 12, 15, 20, 21, 22, 23, 24, 26, 27, 31, 32, 33, 34, 40, 41, 43, 45, 46, 51, 53, 54, 55, 58, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 73, 74, 77, 78, 79, 80, 82, 83, 84, 85, 86, 88, 91, 92, 93, 94, 95, 96, 97, 98}
58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [52]:
set3 = []

for each_number in set1:
    if each_number not in set2:
        set3.append(each_number)

set3 = set(set3)
print(set3)

{0, 2, 3, 5, 6, 8, 9, 16, 17, 18, 19, 25, 28, 29, 30, 35, 36, 37, 38, 39, 44, 47, 49, 50, 52, 56, 57, 59, 60, 70, 75, 81, 87, 89, 90}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [16]:
set4 = []

for each_number in set2:
    if each_number not in set1:
        set4.append(each_number)
        
set4 = set(set4)
print(set4)

{97, 34, 98, 10, 43, 80, 51, 84, 58, 91, 92, 62, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [51]:
set5 = []

for each_number in set1:
    if each_number in set2:
        set5.append(each_number)

set5 = set(set5)
print(set5)

{1, 4, 7, 11, 12, 15, 20, 21, 22, 23, 24, 26, 27, 31, 32, 33, 40, 41, 45, 46, 53, 54, 55, 61, 63, 64, 65, 66, 67, 68, 69, 71, 73, 74, 77, 78, 79, 82, 83, 85, 86, 88, 93, 94, 96}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [19]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

#set1 are 80 random numbers with no repetitions
#set2 was created with 80 random numbers but with repetitions so when we did the set it turned less
#The difference between len(set1) and len(set2) is len(set3) + len(set4)
#set5 is len(set1) - len(set3)

80
58
35
13
45

#### Create an empty set called `set6`.

In [50]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [53]:
set6.update(set3)
set6.update(set5)

print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 44, 45, 46, 47, 49, 50, 52, 53, 54, 55, 56, 57, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 77, 78, 79, 81, 82, 83, 85, 86, 87, 88, 89, 90, 93, 94, 96}

#### Check if `set1` and `set6` are equal.

In [56]:
if set1 == set6:
    print("equal")

equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [61]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [72]:
set7 = set3.union(set4)
set8 = set7.union(set5)
print(set8)

set9 = set1.union(set2)
print(set9)

print(len(set8))
print(len(set9))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98}
93
92

#### Using the `pop` method, remove the first element from `set1`.

In [80]:
set1.pop()
print(set1)

{3, 4, 5, 6, 7, 8, 12, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 44, 45, 46, 47, 49, 50, 52, 53, 54, 55, 56, 57, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 77, 78, 79, 81, 82, 83, 85, 86, 87, 88, 89, 90, 93, 94, 96}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [82]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for each in list_to_remove:
    if each in set1:
        set1.remove(each)

print(set1)

{3, 4, 5, 6, 7, 8, 12, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 35, 36, 37, 38, 40, 44, 45, 46, 47, 50, 52, 53, 54, 55, 56, 57, 60, 63, 64, 65, 66, 67, 68, 70, 73, 74, 75, 77, 78, 82, 83, 85, 86, 87, 88, 90, 93, 94, 96}